html, body{    


}

body {
    margin-left: 0px;
    font-family: 'Merriweather', serif;
    text-align: center; 
    background: linear-gradient(to right, #000066 0%, #0099ff 100%);
}

h1, h2 {   
    color: blanchedalmond;
    text-decoration: rgb(163, 159, 159);
    text-shadow: 0 0 6px black, 0 0 5px #0000FF;
}

button {
    height: 40px;
    width: 120px;
    background-color: #333aab;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    font-size: 1.2em;
    font-family: 'Merriweather';
    font-weight: 800;

}

button:hover {
    opacity: 1;
    background-color: #4b0fff;
    font-size: 1.3em;
}
button:focus, button:active, button.active, button:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

h2 {
    font-family: 'Comic Neue', cursive;
    letter-spacing: 0.1em;
}

.container{
    width: 100%;   
    justify-content: space-around;
    display: flex;
}

#selection{
    bottom: 30px;
    position: absolute;
    display: flex; 
    justify-content: space-around;
    width: 100%;
    max-width: 580px;
}

.grayed-out {
    opacity: 20%;
}

.char {
    margin: 0 auto;
}

#selection img{
    height: 100px;
    width: 100px;
}

.div-absolute{
}

#ganador-div {
    padding-top: 65px;
}

#ganador-name{}

#ganadorPic {
    height: 200px;
    width: 200px;
}


#ganadorPic{ 
    transform-origin: 50% 50%;
    animation: 3s rotateRight infinite alternate; 
}

@keyframes rotateRight{
    10%{ transform:rotate(360deg); }
}
@keyframes rotateLeft{
    50%{ transform:rotate(360deg); }
}

@media only screen and (max-width: 800px) {

    
}
