html, body {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

:root{
    --color1: #fbf7ff;
    --color2: #220045;
    --color3: #FCFF00;
    --color4: #220045;
    --color5: #19072B;
    --colorDanger:rgb(186, 2, 2);
    /* --color1: #cfe9d1;
    --color2: #14889a;
    --color3: #350663;
    --color4: #72B9B6;
    --color5: #25477F;
    --colorDanger:rgb(186, 2, 2); */



  }

  
p {
    color: var(--color2);
}
    
    
a {
    color: var(--color1);
    text-decoration: none;
    display: inline;
}

header {
    position: fixed;
    color: var(--color5);
    background-color: var(--color4);
    border: 2px solid var(--color3);
    border-top: none;
    /* opacity: .5; */
    z-index: 11;
    width: 40rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    border-radius: 0 0 2rem 2rem;
    transition: .1s;
}

header:hover {
    transition: .2s;
    transform: translateX(-50%) translateY(0%);
}

header::after{
	content: "⋮";
    text-align: -webkit-center;
    text-align: -moz-center;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 100%;
	left: 50%;
    font-size: 2rem;
    transform: translateX(-50%);
    background-color: var(--color4);
    color: var(--color3);
    border: 3px solid var(--color3);
    border-top: none;
    font-weight: 800;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
 
.navbar {
    text-align: -moz-center;
    text-align: -webkit-center;
}

.nav-link{
    /* opacity: .5; */
    margin: 20px;
}

.nav-link:hover{
    opacity: 1;
    color: var(--color3);
    transition: .2s;
    box-shadow: 0px 2px 0px;
}

ul{
    list-style: none;
    padding: 0px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33,06,63,0.8);
    z-index: 1;
}

#lead-content{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    color: var(--color1);
    transform: translate(-50%, -50%);
    text-align: center;
}

#get-cv, #submit-form {
    background: transparent;
    color: var(--color3);
    border: 3px solid var(--color3);
    border-radius: 8rem;
    padding: .6rem 1.8rem;
    transition: .2s;
    display: inline-block;
    box-shadow: none;
}

#get-cv:hover, #submit-form:hover {
    background: var(--color3);
    color: var(--color5);
    border: 3px solid var(--color5);
    transition: .6s;
    transform: scale3d(1.1, 1.1, 0.1);
    cursor: pointer;
}

#about, #my-story>p{
    background-color: var(--color1);
    padding: 7rem;
    margin: 0;
    display: flex;
    color: var(--color5);
    text-align: center;
}

.main-img{
    align-self: center;
}

.main-img>img {
    height: 14rem;
}

#about-text {
    padding-left: 40px;
    align-self: center;
    text-align: left;
}
#about-text>p {
    color: #350663;
    font-size: 1.5rem;
}

#projects {
    padding: 40px;
    /* background: url(https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    background: var(--color4);
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-size: 1.7rem;
    color: var(--color1);
    text-align: -moz-center;
    text-align: -webkit-center;
}


#container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.link-container{
    text-align: -moz-center;
    text-align: -webkit-center;
    background: var(--color1);
    border-radius: 1.5rem;
    border: 2px solid var(--color2);
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-column-gap: 10px;
    padding: 1rem;
    margin: 2rem 1rem;
    box-shadow: .20rem .3rem .6rem .1rem #fbf7ff70;
    /* ***** SPECIFIC FOR ANIMATION ***** */
    position: relative;
    transform: translateX(-100px);
    opacity: 0;
    transition: 1s all ease;
}

.link-container.entered{
    transform: translateX(0);
    opacity: 1;
}

.link-container:hover {
    transform: scale(1.01);
    transition: .2s;
}

.link-container a {
    color: var(--color2);
}

.preview-img{
    max-width: 98%;
    height: 220px;
}

/* .link-title{
    height: 8rem;
} */

/* .link-title > h2 {
    margin-top: 0;
} */

.link-description {
    height: 8rem;
    display: flex;
    align-items: center;
}

.pill-stacks {
    display: flex;
    justify-content: space-evenly;
}

.pill-icon {
    height: 3rem;
    width: 3rem;
    padding: .3rem;
}

#contact {
    background-color: var(--color5);
    padding: 2rem 0 2rem 0;
    text-align: -moz-center;
    text-align: -webkit-center;
}

form {
    display: flex;
    flex-direction: column;
    color: var(--color1);
    width: 90%;
    align-items: center;
}

input, textarea{
    width: 20rem;
    height: 2rem;
    background-color: var(--color5);
    color: var(--color1);
    border-radius: .2rem;
    margin: .6rem 0 1.2rem 0;
    font-size: 1rem;
    border: 1px solid #fbf7ff70;
    box-shadow: .20rem .3rem .6rem .1rem #fbf7ff70;
}

textarea {
    height: 12rem;
}

input:focus, textarea:focus{
    transform: scale(1.1);
    transition: .2s;
}

#submit-form {
    width: 8rem;
    height: 2.6rem;
}

#social-media-container {
    width: 10rem;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

#social-media-container a:hover{
    transform: scale(1.5, 1.5);
    transition: .2s;
}

@media screen and (max-width: 800px) {
    #container{
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 1.4rem;
    }
    #lead-content {
        width: 100%;
    }
    header{
        width: 10rem;
    }
    .navbar{
        display: grid;
        justify-items: center;
    }
    #about{
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    #about-text{
    padding-right: 40px;
    }
    #about-text > p {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}