
html, body {
 background: url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
 font-family: Verdana, Times, Arial;
}

#container{
    width: 100%;display:flex;align-content: center;justify-content: space-evenly;
}

#container>div{
    width: 30%;
    margin: 10px auto;
    text-align: center;
    color:;
    border: 2px solid #10bb10;
    border-radius: 10px;
    background: rgba(55, 155, 55, .6);
}

img{
    max-width: 98%
}

a   {
    color: white;
    text-decoration: none;
}

p    {
    color: #cfe9d1;
}

@media screen and (max-width: 800px) {
    #container{flex-direction: column;}
    #container>div{width: 90%;auto}
};
