
html, body {
 background: url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
 font-family: Verdana, Times, Arial;
}

#container{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#container>div{
    width: 30%;
    margin: 10px 4px;
    padding: 1%;
    text-align: center;
    border: 2px solid #14889a;
    border-radius: 10px;
    background: rgb(31 56 58 / 70%);
}

img{
    max-width: 98%
}

a   {
    color: white;
    text-decoration: none;
}

p    {
    color: #cfe9d1;
}

@media screen and (max-width: 800px) {
    #container{flex-direction: column;align-items: center;}
    #container>div{width: 90%;auto}
};
